<mat-card>
  <mat-card-title>Verify OTP</mat-card-title>
  <mat-card-content>
  <!-- TODO: Add a form to verify OTP -->
    <!-- TODO: Fix the verifyOtpForm issue.-->
    <form [formGroup]="verifyOtpForm" (ngSubmit)="onVerifyOTP()">
      <mat-form-field>
        <mat-label>OTP</mat-label>
        <label>
          <input matInput formControlName="otp">
        </label>
        <mat-error *ngIf="verifyOtpForm?.get('otp')?.invalid">OTP is required and must be at least 6 characters</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="!verifyOtpForm?.valid">Verify OTP</button>
    </form>
  </mat-card-content>
</mat-card>
